<!DOCTYPE html>
<html lang="ru">
<head>
	<base href="/Portal_TEST/">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>{{title}}</title>

	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-select.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/bootstrap-editable.css">
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"-->
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<!--link rel='stylesheet' href='/stylesheets/style.css'/-->
	<link rel="stylesheet" href="css/main.css">

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.quicksearch.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-select.js"></script>
	<script src="js/b2b.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
{{> header }}

<div class="modal fade" id="error-login-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p>Ошибка входа</p>
			</div>
			<div class="modal-body">
				<p id="error-login-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-warning" data-dismiss="modal">ОК</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="debt-timeout-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="alert alert-danger" role="alert">
					<h4 class="modal-title">Внимание!</h4>
				</div>
			</div>
			<div class="modal-body">
				<p id="debt-timeout-text">Обнаружена просроченная задолженность!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Ок</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="change-city-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="change-city-modal-approve">При смене города текущий заказ будет очищен!</p>
			</div>
			<div class="modal-footer">
				<button id="change-city-button-ok" type="button" class="btn btn-warning" data-dismiss="modal">Да, поменять город и очистить заказ</button>
				<button id="change-city-button-cancel" type="button" class="btn btn-default" data-dismiss="modal">Не менять город</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="product-description-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p>Описание номенклатуры</p>
			</div>
			<div class="modal-body">
				<p id="product-description-text"></p>

				<div id="product-description-pictures" class="carousel slide">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="make-order-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="make-order-modal-amount">Вы уверены, что готовы отправить заказ на сумму </p>
				<p id="make-order-modal-client">Клиент: </p>
				<p id="make-order-modal-outlet">Магазин: </p>
			</div>
			<div class="modal-footer">
				<button id="make-order-button-ok" type="button" class="btn btn-success" data-dismiss="modal">ОК</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Ой, ошибся</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="make-order-success-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="make-order-success-number">Заказ успешно зарегистрирован под номером </p>
			</div>
			<div class="modal-footer">
				<button id="make-order-success-button-ok" type="button" class="btn btn-default btn-success"
				        data-dismiss="modal">ОК
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete-order-row-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="delete-order-row-approve">Удалить строку из заказа?</p>
			</div>
			<div class="modal-footer">
				<button id="delete-order-row-button-ok" type="button" class="btn btn-warning" data-dismiss="modal">ОК</button>
				<button id="delete-order-row-button-cancel" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</div>
</div>

<div id="content" class="container-fluid">
	{{{body}}}
</div>

<div class="container">
	<div class="modal" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<form class="form-signin">
			<h2 class="form-signin-heading">Вход</h2>
			<input id="sign_in_login" type="text" class="input-block-level" placeholder="Логин">
			<input id="sign_in_password" type="password" class="input-block-level" placeholder="Пароль">
			<button id="sign-in-button" class="btn btn-large btn-primary" type="submit" data-dismiss="modal">Войти</button>
		</form>
	</div>
</div>

<div class="waiting-modal"></div>

<!--script src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script-->
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/bootstrap-editable.min.js"></script>
</body>
</html>