body {
	background-color: #f5f5f5;
	padding-top: 70px;
	padding-bottom: 10px;
	font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	/*padding-top: 70px;*/
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.waiting-modal {
	display:    none;
	position:   fixed;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 )
	url('../img/ajax-loader.gif')
	50% 50%
	no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .waiting-modal {
	display: block;
}

.navbar, #login-label {
	font: normal normal 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* Уменьшение размеров элементов фильтра */
.btn.dropdown-toggle, .input-group-addon, .dropdown-menu.inner, #filter-price-from, #filter-price-to  {
	font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 28px;
}
.bootstrap-select.btn-group {
	width: 150px!important;
}
.input-group {
	width: 160px;
}

.b2b_btn_enter,
.b2b_btn_exit {
	margin-right: 1px;
	margin-top: 7px;
}

.form-signin {
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	margin: 0 auto 20px;
	max-width: 300px;
	padding: 19px 29px 29px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/* Таблица товаров */
.table input {
	font-size: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

/* Таблица заказа */
.order-table {
	table-layout: inherit;
	white-space: inherit;
	width: 100%;
}

.order-table th {
/*	
	overflow: hidden;
	text-overflow: clip;
*/	
	vertical-align: middle;
/*
	white-space: normal;
*/
}

.panel-group-orders-table tr.old {
    color: silver;
}
.panel-group-orders-table tr.deleted {
    text-decoration: line-through;
}

.table {
	background-color: white;
}

.row-goods {
	width: 40%;
}

.row-stock {
	width: 10%;
}

.row-cost {
	width: 10%;
}

.row-volume {
	width: 10%;
}

.row-description {
	width: 10%;
}

.basket-picture, .remove-picture {
	cursor: pointer;
	cursor: hand;
}
