<div id="contacts-container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" id="panel-contacts">
				<div class="panel-body">
					<div class="alert alert-info">
						{{# each data }}
						<p>{{this}}</p>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
