body {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 10px;
    font: normal normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.waiting-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) url('../img/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our modal element will be visible */
body.loading.waiting-modal {
    display: block;
}

.navbar {
    font: normal normal 14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.b2b_btn_enter,
.b2b_btn_exit {
    margin-right: 1px;
    margin-top: 7px;
}

.panel {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.table {
    background-color: white;
}

.basket-picture, .remove-picture {
    cursor: pointer;
    cursor: hand;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}