<!DOCTYPE html>
<html lang="ru">

<head>
	<base href="/Portal_TEST/">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="favicon.ico">

	<title>Портал</title>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-select.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="css/bootstrap-editable.css">
	<link rel="stylesheet" href="css/jquery-ui.min.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.quicksearch.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-select.js"></script>
	<script src="js/b2b.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<div class="modal fade" id="error-login-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p>Ошибка входа</p>
			</div>
			<div class="modal-body">
				<p id="error-login-text"></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-warning" data-dismiss="modal">ОК</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="debt-timeout-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<div class="alert alert-danger" role="alert">
					<h4 class="modal-title">Внимание!</h4>
				</div>
			</div>
			<div class="modal-body">
				<p id="debt-timeout-text">Обнаружена просроченная задолженность!</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-warning" data-dismiss="modal">Ок</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="change-city-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="change-city-modal-approve">При смене города текущий заказ будет очищен!</p>
			</div>
			<div class="modal-footer">
				<button id="change-city-button-ok" type="button" class="btn btn-warning" data-dismiss="modal">Да, поменять город и очистить заказ</button>
				<button id="change-city-button-cancel" type="button" class="btn btn-default" data-dismiss="modal">Не менять город</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="product-description-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<p>Описание номенклатуры</p>
			</div>
			<div class="modal-body">
				<p id="product-description-text"></p>

				<div id="product-description-pictures" class="carousel slide">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">ОК</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="make-order-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="make-order-modal-amount">Вы уверены, что готовы отправить заказ на сумму </p>
				<p id="make-order-modal-client">Клиент: </p>
				<p id="make-order-modal-outlet">Магазин: </p>
			</div>
			<div class="modal-footer">
				<button id="make-order-button-ok" type="button" class="btn btn-success" data-dismiss="modal">ОК</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Ой, ошибся</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="make-order-success-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="make-order-success-number">Заказ успешно зарегистрирован под номером </p>
			</div>
			<div class="modal-footer">
				<button id="make-order-success-button-ok" type="button" class="btn btn-default btn-success"
				        data-dismiss="modal">ОК
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="delete-order-row-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<p id="delete-order-row-approve">Удалить строку из заказа?</p>
			</div>
			<div class="modal-footer">
				<button id="delete-order-row-button-ok" type="button" class="btn btn-warning" data-dismiss="modal">ОК</button>
				<button id="delete-order-row-button-cancel" type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
			</div>
		</div>
	</div>
</div>

<!--div class="modal fade" id="view-order-detail">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Просмотр заказа</h4>
			</div>
			<div class="modal-body">
				<table id="view-order-table" class="table table-bordered table-condensed">
					<tr>
						<th>#</th>
						<th>name</th>
						<th>age</th>
					</tr>
					<tr>
						<td></td>
						<td><a href="#" data-pk="1"></a>
						</td>
						<td></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button id="view-order-detail-ok" type="button" class="btn btn-success" data-dismiss="modal">Изменить
					заказ
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
			        data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"><img src="img/Логотип%206.png" alt="Логотип" height="40" style="margin-top: -10px;"></a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="disabled">
					<a href="#" id="goods"><span class="glyphicon glyphicon-list-alt"></span> Товар</a>
				</li>
			</ul>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="input-group">
						<input id="search-text" type="text" class="form-control" placeholder="Поиск">
						<span class="input-group-btn">
                            <button id="search-button" type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li class="disabled">
					<a href="#" id="orders"><span class="glyphicon glyphicon-briefcase"></span> Мои заказы</a>
				</li>
				<li class="disabled">
					<a href="#" id="user-info"><span class="glyphicon glyphicon-info-sign"></span> Информация о пользователе</a>
				</li>
				<li class="disabled">
					<a href="#" id="contacts"><span class="glyphicon glyphicon-phone-alt"></span> Контакты</a>
				</li>
			</ul>
			<button id="enter" type="button" class="navbar-right btn btn-default b2b_btn_enter" data-toggle="modal"
			        data-target="#sign-in-modal">Войти
			</button>
			<button id="exit" type="button" class="navbar-right btn btn-default b2b_btn_exit" style="display:none">
				Выйти
			</button>
			<ul class="nav navbar-nav navbar-right">
				<li class="disabled">
					<a href="#" id="basket"><span class="glyphicon glyphicon-shopping-cart"></span></a>
				</li>
				<li>
					<a id="login-text"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div id="goods-container" style="display:none">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Фильтр</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-2">
							<div class="filter-city">
								Город:
								<select class="selectpicker span4" id="select-city" onchange="onChangeCity()">
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="filter-group1">
								Группа 1:
								<select class="selectpicker span4" id="select-group1" onchange="onChangeFilter()">
									<option value="0">Все</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="filter-group3">
								Группа 3:
								<select class="selectpicker span4" id="select-group3" onchange="onChangeFilter()">
									<option value="0">Все</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="filter-brand">
								Бренд:
								<select class="selectpicker span4" id="select-brand" onchange="onChangeFilter()">
									<option value="0">Все</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">Цена от:</span>
								<input type="text" class="form-control input-sm" id="filter-price-from" value="0">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="show-position-code" value="true">Показать код позиции
								</label>
							</div>
						</div>
						<div class="col-md-3">
							<div class="filter-group2">
								Группа 2:
								<select class="selectpicker span4" id="select-group2" onchange="onChangeFilter()">
									<option value="0">Все</option>
								</select>
							</div>
						</div>
						<div class="col-md-3">
							<div class="filter-group4">
								Группа 4:
								<select class="selectpicker span4" id="select-group4" onchange="onChangeFilter()">
									<option value="0">Все</option>
								</select>
							</div>
						</div>
						<div class="col-md-2">
							<div class="checkbox">
								<label>
									<input type="checkbox" id="in-stock" value="true">Только в наличии сейчас
								</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">Цена до:</span>
								<input type="text" class="form-control input-sm" id="filter-price-to" value="10000000">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--
		<div class="row-fluid">
			<div class="btn-group col-md-5">
			</div>
			<div class="btn-group col-md-5">
				<button id="add-to-order" type="button" class="btn btn-default btn-large">Добавить в заказ <span class="glyphicon glyphicon-arrow-up"></span>
				</button>
				<button id="delete-from-order" type="button" class="btn btn-default btn-large">Удалить из заказа <span
						class="glyphicon glyphicon-arrow-down"></span>
				</button>
			</div>
		</div>
	-->
	<div class="container-fluid">
		<!--<div id="tree-goods" class="tableContainer">-->
		<div id="tree-goods">
		</div>
	</div>
</div>

<div id="basket-container" style="display:none">
	<div class="row-fluid">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">Клиент</div>
				<div class="panel-body">
					<div class="col-md-6">
						<div class="legal-entity">
							Юридическое лицо:
							<select class="selectpicker" data-width="auto" id="select-legal-entity">
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="outlet">
							Для торговой точки:
							<select class="selectpicker" data-width="auto" id="select-outlet">
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<!--Текущий заказ-->
					<button id="make-order-button" type="button" class="btn btn-large btn-warning">Оформить заказ <span class="glyphicon glyphicon-usd"></span>
					</button>
				</div>
				<div class="panel-body">
					<div class="table-responsive" id="tree-order">
						<table id="tree-table-order" class="table table-bordered table-condensed">
							<thead>
							<tr>
								<th class="row-goods">Позиция</th>
								<th class="row-stock">Кол-во</th>
								<th class="row-cost">Цена</th>
								<th class="row-cost">Сумма</th>
								<th class="row-cost">Объем</th>
								<th class="row-cost">Желаемая цена</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><a href="#" data-pk="1"></a></td>
							</tr>
							</tbody>
						</table>
						<!--
												<table id="tree-table-order-footer" class="table table-bordered table-condensed">
												</table>
						-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="orders-container" style="display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="panel-group-orders">
			</div>
		</div>
	</div>
</div>

<div id="user-info-container" style="display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group" id="panel-user-info">
			</div>
		</div>
	</div>
</div>

<div id="contacts-container" style="display:none">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default" id="panel-contacts">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="modal" id="sign-in-modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
		<form class="form-signin">
			<h2 class="form-signin-heading">Вход</h2>
			<input id="sign_in_login" type="text" class="input-block-level" placeholder="Логин">
			<input id="sign_in_password" type="password" class="input-block-level" placeholder="Пароль">
			<button id="sign-in-button" class="btn btn-large btn-primary" type="submit" data-dismiss="modal">Войти</button>
		</form>
	</div>
</div>

<div class="waiting-modal"></div>

<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.cookie.js"></script>
<script src="js/bootstrap-editable.min.js"></script>
</body>

</html>